/* styles.css */

body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
}

.container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
        text-align: center;
}

h2 {
        margin-top: 20px;
}

.conversation-box,
.chat-room-box {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.conversation-box:hover,
.chat-room-box:hover {
        background-color: #f0f0f0;
}

#conversationList,
#chatRoomList {
        display: flex;
        flex-direction: column;
}

.conversation-box,
.chat-room-box {
        margin-bottom: 20px;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {

        .conversation-box,
        .chat-room-box {
                flex: 0 0 100%;
        }
}