body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333333;
  font-size: 2rem;
  margin: 20px 0;
}

#chat {
  padding: 20px;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 400px;
  margin-bottom: 20px;
}

#messages li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#messages li p {
  margin: 0;
}

#messages li:nth-child(even) {
  background-color: #eff4fd;
}

#messages li.user-message {
  text-align: right;
}

#messages li.other-user-message {
  text-align: left;
}

#messages li .nickname {
  font-weight: bold;
  color: #007bff;
}

#messages li .timestamp {
  font-size: 12px;
  color: #888888;
}

#form {
  display: flex;
  margin-bottom: 20px;
}

#input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 16px;
}

#form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.disconnect-connect-buttons {
  text-align: center;
}

.disconnect-connect-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}